@media screen and (max-width: 768px) {
    :root{
        --small-p: 0.9rem !important;
        --big-p: 1.5rem !important;
        --a-size: 0.8rem !important;
    }

    .nom{
        width: 10% !important;
        font-size: 0.5rem !important;
    }

    .links{
        width: 70% !important;
        gap: 0.5rem !important;

        a{
            font-size: 0.5rem;
        }
    }

    .infos a{
        /* padding: 0 !important; */
        font-size: 0.6rem !important;
    }

    .infos img{
        height: 40% !important;
    }

    #description .container .details{
        width: 60% !important;
        align-items: center !important;
        a{
            width: 60% !important;
        }
    }

    #description .img{
        align-items: center;
    }

    #description .img img{
        width: 150px !important;
        height: 150px !important;
    }

    #projets .container .card p{
        font-size: 0.8rem !important;
    }

    #projets .container .card .view {
        font-size: 0.8rem !important;

        a{
            font-size: 0.8rem !important;
        }
    }

    #competences .container .card{
        height: 50% !important;
    }

    #competences .container .card .progress .progressbar{
        font-size: 0.8rem !important;
    }

    #competences .container .card .progress .progressbar .percent{
        height: 0.4rem !important;
    }

    #contact .head .big{
        font-size: 1.4rem !important;
    }

    #contact .head .small{
        font-size: 1rem !important;
    }

    #contact form fieldset label{
        font-size: 0.8rem !important;
    }

    input::placeholder, textarea::placeholder{
        font-size: 0.8rem !important;
        color: var(--blue);
    }

    #contact form input[type ="submit"]{
        width: 40% !important;
        font-size: 0.6rem !important;
        padding: 0.2rem !important;
    }

    footer{
        font-size: 0.5rem !important;
    }

}









