@media screen and (max-width: 425px) {
    :root{
        --small-p: 0.9rem !important;
        --big-p: 1.5rem !important;
        --a-size: 0.8rem !important;
    }

    .nom{
        width: 10% !important;
        font-size: 1.2rem !important;
    }

    /* .links{
        width: 70% !important;
        gap: 0.5rem !important;
        display: flex !important;
        flex-direction: column !important;
        
        a{
            font-size: 0.5rem;
        }
    }
    
    .infos a{
        font-size: 0.6rem !important;
    }

    .infos img{
        height: 40% !important;
    } */

    .bi{
        transition: all 0.2s ease-in !important;
    }

    .links{
        width: 50% !important;
        label{
            position: relative;
            display: flex !important;
            height: 100%;
            align-items: center;

            .bi{
                position: absolute;
            }

            .bi-chevron-contract{
                visibility: hidden;
                opacity: 0;
            }
        }

        .a{
            display: none !important;
        }
    }

    .links:has(input:checked){
        display: flex !important;
        flex-direction: row-reverse !important;
        justify-content: space-around !important;

        .bi-list{
            visibility: hidden;
            opacity: 0;
        }

        .bi-chevron-contract{
            visibility: visible !important;
            opacity: 1 !important;
        }
        .a{
            justify-content: right !important;
            display: flex !important;
            width: 40%;
            flex-direction: column !important;
            gap: 0.1rem !important;
        }
    }

    .links:has(input:checked)>label{
        display: flex;
        width: 10%;
    }

    .links{
        gap: 0.5rem !important;

        a{
            font-size: 0.8rem;
        }
    }

    #me .infos{
        justify-content: center !important;
        align-items: center !important;
        height: 100% !important;
        width: 100% !important;
    }

    #me img{
        display: none;
    }

    #description .container .details{
        width: 60% !important;
        align-items: center !important;
        a{
            width: 60% !important;
        }
    }

    #description .img{
        align-items: center;
    }

    #description .img img{
        width: 150px !important;
        height: 150px !important;
    }

    #projets .container .card p{
        font-size: 0.8rem !important;
    }

    #projets .container .card .view {
        font-size: 0.8rem !important;

        a{
            font-size: 0.8rem !important;
        }
    }

    #competences .container .card{
        height: 50% !important;
    }

    #competences .container .card .progress .progressbar{
        font-size: 0.8rem !important;
    }

    #competences .container .card .progress .progressbar .percent{
        height: 0.4rem !important;
    }

    #contact .head .big{
        font-size: 1.4rem !important;
    }

    #contact .head .small{
        font-size: 1rem !important;
    }

    #contact form fieldset label{
        font-size: 0.8rem !important;
    }

    input::placeholder, textarea::placeholder{
        font-size: 0.6rem !important;
        color: var(--blue);
    }

    #contact form input[type ="submit"]{
        width: 40% !important;
        font-size: 0.6rem !important;
        padding: 0.2rem !important;
    }

    footer{
        font-size: 0.4rem !important;
    }

}























